<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="MavenProject.SeleniumTest"/>
      <class name="guru99Site.Guru99_Day1Test"/>
     
      <class name="guru99Site.Guru99_Day6Test"/>
      <class name="MavenProject.RestApiTest"/>
      <class name="MavenProject.AppiumTest"/>
      <class name="MavenProject.HomeLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
